<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <h1>Examen Tema 4</h1>
    <h2>Listado de enlaces</h2>
    <ul>
        <li>
            <a href="{% url 'urls_ultimo_voto' %}">
                1.</a>
        </li>
        <li>
            <a href="{% url 'urls_viviendas_puntuacion' id_cliente=2 %}">
                2.</a>
        </li>
        <li>
            <a href="{% url 'urls_clientes_nunca_votado' %}">
                3.</a>
        </li>
        <li>
            <a href="{% url 'urls_cuentasbancarias' contiene='WE'%}">
                4.</a>
        </li>
        <li>
            <a href="{% url 'urls_votos_usuarios'%}">
                5.</a>
        </li>
    </ul> 
</body>
</html>